#message {
  color: #ff0000;
  font-weight: 700;
}

/* エラーの場合に作成されるul要素は、errorlistというクラス名がついている */
.errorlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: red;
}

#container {
  position: relative;
  margin: -20px 0;
  height: auto !important;
}

#wrapper {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.errorpage {
  width: 100%;
  text-align: center;
}
