{% extends "base.html" %}

{% block title %}パスワード再設定メール送信{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <div class="card">
    <header class="card-header">
      <h4 class="card-title mb-4 mt-1">Password reset</h4>
    </header>
    <article class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="">
          {{ form.email.errors }}
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Send mail</button>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->
</div>
{% endblock %}